{{ _css(
    '//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,700italic,400italic',
    '//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css',
    'css/common.css'
) | safe }}

{{ _js(
    '//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js',
    '//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js',
    '//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js',
    'js/com/raphael.js',
    'js/com/event.js',
    'js/com/widget-manager.js',
    'js/com/widget-editable.js'
) | safe }}